body {
    margin: 0;
}
main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.grid__container {
    display: grid;
    background-color: #FFFFFF;
}